@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);

body {
    background-image: url('../img/BackgroundDoodle3.bmp');
    background-repeat: repeat;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    font-family: 'Calibri', sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.container {
    width: 80%;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 2em #595959;
    justify-content: center;
    margin-top: 3em;
}

#header {
    height: 4.5em;
    padding: 3em;
}

#footer {
    padding: 0.5em 3em;
    font-size: 1em;
    text-align: center;
}

#footer a {
    color: #737373;
    text-decoration: none;
}

#header-name {
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
    color: #c6538c;
    font-weight: bold;
    text-shadow: 0.04em 0.04em 0.04em #ffb3ff;
}

.footer {

}

@media screen and (min-width: 1000px) {
    .container {
        width: 65%;
    }
}