@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
    background-image: url('../img/MST.bmp');
    background-repeat: repeat;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    font-family: 'Calibri', sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.container {
    width: 80%;
    /*background-color: #ffe6ff;*/
    background-color: pink;
    border-radius: 1em;
    /*box-shadow: 1em 1em 4em #595959;*/
    box-shadow: 0.5em 0.5em 2em #1a1a1a;
    justify-content: center;
    margin-top: 3em;
}

#header {
    height: 4.5em; /*height should accommodate the increase in size of the text*/
    padding: 3em;
}

#footer {
    padding: 0.5em 3em;
    font-size: 1em;
    text-align: center;
}

#header-name {
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
    /*color: #ff1a8c;*/
    color: #262626;
    font-weight: bold;
    text-shadow: 0.02em 0.02em 0.05em #999999;
}

.footer {

}

@media screen and (min-width: 1000px) {
    .container {
        width: 65%;
    }
}